*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
/* same-property stylesheet  */
h1{
    font-size:36px;
    font-weight: 600;
    margin-bottom:10px;
    
}
h3{
    font-size: 20px;
    margin:15px 0 20px;
    font-weight: 600;
}
p{
    font-size:14px;
    color:#757a73;
    line-height: 22px;
}
/* header section start here  */
.header{
    background-image: linear-gradient(rgba(0,9,30, 0.7), rgba(0,9,30, 0.7)), url(../images/banner.png);
    width:100%;
    height:100vh;    
    background-position: center;
    background-size: cover;
    position:relative;
}
/* Navbar start here  */
nav{
    Padding:2% 5%;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
nav img{
    width:150px;
}
.nav-links{
    flex:1;
    text-align:right;
}
.nav-links ul li{
    display:inline-block;
    list-style:none;
    padding:8px 20px;
    position:relative;
}
nav ul li a {
    color:#fff;
    text-decoration: none;
    font-size:16px;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:rgb(223, 46, 46);
    display:block;
    margin:auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
/* banner text start here  */
.banner-text{
    width:90%;
    margin:auto;
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.banner-text h1{
    color:#fff;
    font-size:62px;
    font-weight: 600;
}
.banner-text p{
    color:rgb(233, 224, 224);
    padding:20px 0 50px;
}
.hero-btn{
    font-size:13px;
    border:2px solid #fff;
    color:#fff;
    text-decoration:none;
    padding:12px 34px;
    transition:0.7s;
}
.hero-btn:hover{
    border:2px solid #d4322c;
    background:#d4322c;
}
nav .fas{
    display:none;
}
@media(max-width:768px){
    .banner-text h1{
        font-size:34px;
    }
    .nav-links{                 
       
        position:absolute;
        background:#d4322c;
        width:200px;
        height:100vh;
        top:0;
        right:-200px;
        z-index:2;
        text-align:left;
        transition:1s;
    }
    .nav-links ul{
        margin:50px 20px;
    }
    .nav-links ul li{
        display:block;
        padding:8px 20px;
    }
    nav .fas{
        display:block;
        color:#fff;
        font-size:24px;
        padding:10px;
        cursor:pointer;
    }
}
/* course section start  */
.course{
    width:80%;
    margin:auto;
    padding-top:100px;
    text-align:center;
}
.row{
    display:flex;
    justify-content: space-between;
    margin-top:5%;
    
}
.course-col{
    flex-basis:31%;
    margin-bottom:5%;
    padding:12px 20px;
    background:#fff3f3;
    box-sizing:border-box;
    border-radius:10px;

}
.course-col h3{
    padding:20px;
}
.course-col:hover{
    box-shadow: 0px 0px 20px 0px rgb(224, 218, 218);
}
@media (max-width:768px){
    .row{
        flex-direction:column;
    }
}
/* campus  
----------*/
.campus{
    width:80%;
    padding-top:50px;
    margin:auto;
    text-align:center;    
}
.campus-col{
    flex-basis:31%;
    margin-bottom:5%;
    position:relative;
    border-radius: 10px;
    overflow:hidden;
    
    
    
}
.campus-col img{
    width:100%;
    border-radius:10px;
    display:block;
    
    
}
.layer{
    position:absolute;
    background:transparent;
    top:0;
    left:0;
    width:100%;
    height:100%;   
    transition:0.5s;   
    
}
.layer:hover {
    background:rgba(187, 50, 50, 0.616);
}
.layer h3{
     position:absolute;
     color:#fff;
     font-size:20px;
     bottom:0;
     left:50%;
     transform: translateX(-50%);    
     width:100%;    
     opacity:0;
     transition:0.5s;     
}
.layer:hover h3{
    opacity:1;
    bottom:50%;        
}
/* facilities section start here  */
.facilities{
    width:80%;
    margin:auto;
    padding-top:100px;
    text-align:center;
}
.facilities-col{
    flex-basis:31%;
    text-align:left;
    margin-bottom:5%;
}
.facilities-col img{
    width:100%;
    border-radius: 10px;
}
/* feedback section  */
.feedback{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
}
.feedback-col{
    flex-basis:44%;
    display:flex;
    margin-bottom:5%;
    background:#fff3f3;
    padding:20px;
    border-radius:10px;

}
.feedback img{
    height:44px;
    border-radius: 50%;
    margin:0 20px 0 10px;
}
.feedback-text{
    text-align:left;
}
.feedback-text h3{
    margin-bottom:10px;
}
.feedback-text .fas,.far{
    color:#d4322c;
}
/* enroll section start here  */
.enroll{
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(
        ../images/banner2.jpg
    );
    width:80%;    
    margin:100px auto;
    background-position: center;
    background-size: cover;
    text-align:center;  
    border-radius: 10px;
    padding:100px 0px;     

}

.enroll h1{
    color:#fff;    
    margin-bottom:40px;
}
@media (max-width:768px){
    .enrol h1{
        font-size:30px;
    }
}
/* footer section start  */
.footer{
    width:90%;
    text-align:center;
    padding:30px 0px;
    margin:auto;
}
.footer h3{
    margin-bottom:30px;
}
.icons .fab{
    padding-right:20px;
    margin:30px 0px;
    color:#d4322c;
    
}